<div class="search--input-container">
  <input
    type="text"
    class="search--input"
    placeholder="Buscar ..."
    [value]="currentValue()"
    (focus)="focusIn()"
    (focusout)="focusOut()"
    (keyup)="changeValue($event)"
  />
  <div>
    @if (isDirty) {
      <span
        class="material-symbols-outlined search--input-icon"
        [class.isActive]="isFocused"
        (click)="clear()"
      >
        close
      </span>
    } @else {
      <span class="material-symbols-outlined search--input-icon" [class.isActive]="isFocused">
        search
      </span>
    }
  </div>
</div>
