<div class="patient-module-container">
  <div>
    <input type="text" placeholder="Buscar ..." />
    <select name="" id="">
      <option value="">Activo</option>
      <option value="">Inactivo</option>
    </select>
    <select name="" id="">
      <option value="">Bogota</option>
      <option value="">Cali</option>
      <option value="">Barranquilla</option>
      <option value="">Medellin</option>
    </select>
    <input type="date" name="" id="" placeholder="Ultima consulta" />
  </div>

  <hr />
  <div>
    <app-patients-list> </app-patients-list>
  </div>
</div>
