<div class="layout">
  <div class="header">
    <span class="material-symbols-outlined"> menu </span>
    <h1>{{ title() }}</h1>
    <app-dropdown-session></app-dropdown-session>
  </div>

  <app-side-menu class="side-menu"></app-side-menu>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="footer-mobile">
      <span class="material-symbols-outlined"> home </span>
      <span class="material-symbols-outlined"> search </span>
      <span class="material-symbols-outlined"> add </span>
    </div>
  </footer>
</div>
