<aside class="sidebar">
  <div class="sidebar__logo">
    <h2>MedicApp</h2>
  </div>

  <nav class="sidebar__nav">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
      <span class="material-symbols-outlined"> dashboard </span>
      <span>Dashboard</span>
    </a>

    <a routerLink="/patients" routerLinkActive="active" class="nav-item">
      <span class="material-symbols-outlined"> patient_list </span>
      <span>Pacientes</span>
    </a>

    <a routerLink="/payments" routerLinkActive="active" class="nav-item">
      <span class="icon">💳</span>
      <span>Pagos</span>
    </a>

    <a routerLink="/settings" routerLinkActive="active" class="nav-item">
      <span class="icon">⚙️</span>
      <span>Configuracion</span>
    </a>
  </nav>
</aside>
