<form [formGroup]="frmPatient" (ngSubmit)="createPatient($event)">
  <div class="patient-form-container">
    <h1>Paciente nuevo</h1>
    <button type="submit">Guardar</button>
    <div class="patient-form-grid">
      <div class="patient-form--section-container patien-form--left-container">
        <div class="patient-basic-information">
          <app-card>
            <div class="patient-basic-information--card">
              <div>
                <h2>🧍 Datos del paciente</h2>
              </div>
              <div class="form-section form-container-image">
                <img
                  src="/assets/userProfile.png"
                  alt="User profile"
                  class="patient-basic-information--profile-pic"
                />
              </div>

              <div>
                <div class="patient-form-basic-info form-section">
                  <legend>Informacion basica</legend>
                  <div class="form-container-fields">
                    <div class="form-input">
                      <label for="documentType">Tipo de documento</label>
                      <select name="documentType" formControlName="documentType">
                        <option value="cc">Cedula de ciudadania</option>
                        <option value="passport">Pasaporte</option>
                        <option value="ti">Tarjeta de identidad</option>
                      </select>
                    </div>
                    <div class="form-input form-input-txt">
                      <label for="documentNumber">Documento</label>
                      <input type="text" name="documentNumber" formControlName="documentNumber" />
                    </div>
                    <div class="form-input form-input-txt">
                      <label for="name">Nombres</label>
                      <input type="text" name="name" formControlName="name" />
                    </div>
                    <div class="form-input form-input-txt">
                      <label for="lastName">Apellidos</label>
                      <input type="text" name="lastName" formControlName="lastName" />
                    </div>

                    <div class="form-input">
                      <label for="gender">Genero</label>
                      <select name="gender" formControlName="gender">
                        <option>Femenino</option>
                        <option>Masculino</option>
                      </select>
                    </div>
                    <div class="form-input">
                      <label for="genderIdentity">Identidad de genero</label>
                      <select name="genderIdentity" formControlName="genderIdentity">
                        <option>Femenino</option>
                        <option>Masculino</option>
                        <option>Transexual</option>
                        <option>LGTBQ+</option>
                      </select>
                    </div>

                    <div class="form-input">
                      <label for="birthDate">Fecha de nacimiento</label>
                      <input
                        type="date"
                        name="birthDate"
                        formControlName="birthDate"
                        format="dd-MM-yyyy"
                      />
                    </div>

                    <div class="form-input">
                      <label for="age">Edad</label>
                      <input type="number" name="age" formControlName="age" />
                    </div>

                    <div class="form-input">
                      <label for="maritalStatus">Estado civil</label>
                      <select name="maritalStatus" formControlName="maritalStatus">
                        <option>Soltero</option>
                        <option>Casado</option>
                        <option>Divorciado</option>
                        <option>Viudo</option>
                        <option>Union libre</option>
                        <option>En arrumacos</option>
                      </select>
                    </div>

                    <div class="form-input">
                      <label for="educationLevel">Escolaridad</label>
                      <select name="educationLevel" formControlName="educationLevel">
                        <option>Primaria</option>
                        <option>Bachillerato</option>
                        <option>Tecnico</option>
                        <option>Tecnologo</option>
                        <option>Profesional</option>
                        <option>Especialista</option>
                        <option>Magister</option>
                        <option>Doctorado</option>
                      </select>
                    </div>

                    <div class="form-input">
                      <label for="job">Ocupacion</label>
                      <input type="text" name="job" formControlName="job" />
                    </div>
                  </div>
                </div>

                <div class="form-section">
                  <legend>Datos de contacto</legend>
                  <div class="form-container-fields">
                    <div class="form-input form-input-txt">
                      <label for="phone">Celular</label>
                      <input type="text" name="phone" formControlName="phone" />
                    </div>
                    <div class="form-input form-input-txt">
                      <label for="email">Email</label>
                      <input type="email" name="email" formControlName="email" />
                    </div>
                  </div>
                </div>

                <div class="form-section">
                  <legend>Datos de ubicacion</legend>
                  <div class="form-container-fields">
                    <div class="form-input">
                      <label for="country">Pais</label>
                      <select name="country" formControlName="country">
                        <option>Colombia</option>
                        <option>Mexico</option>
                        <option>Estados Unidos</option>
                        <option>Argentina</option>
                        <option>Republica Dominicana</option>
                      </select>
                    </div>
                    <div class="form-input">
                      <label for="city">Ciudad</label>
                      <select name="city" formControlName="city">
                        <option>Bogota</option>
                        <option>Medellin</option>
                        <option>Cali</option>
                        <option>Bucaramanga</option>
                        <option>Pasto</option>
                      </select>
                    </div>
                    <div class="form-input">
                      <label for="address">Direccion</label>
                      <input type="text" name="address" formControlName="address" />
                    </div>
                  </div>
                </div>

                <div class="form-section">
                  <legend>Informacion sociodemográfica</legend>
                  <div class="form-container-fields">
                    <div class="form-input">
                      <label for="socioEconomicStratum">Estrato</label>
                      <input
                        type="number"
                        name="socioEconomicStratum"
                        formControlName="socioEconomicStratum"
                      />
                    </div>
                    <div class="form-input">
                      <label for="victimOfArmedConflict">Victima del conflicto?</label>
                      <select name="victimOfArmedConflict" formControlName="victimOfArmedConflict">
                        <option>Si</option>
                        <option>No</option>
                      </select>
                    </div>

                    <div class="form-input">
                      <label for="isDisplaced">Es desplazado?</label>
                      <select name="isDisplaced" formControlName="isDisplaced">
                        <option>Si</option>
                        <option>No</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </app-card>
        </div>

        <div class="patient-medical-information" formGroupName="medicalInformation">
          <app-card>
            <div class="patient-medical-information--card">
              <h3>🏥 Información médica</h3>
              <div class="form-section">
                <legend>⚕ Seguridad social</legend>
                <div class="form-container-fields">
                  <div class="form-input">
                    <label>¿Tiene EPS?</label>
                    <div class="yes-no-section">
                      <div class="form-input-radio-container">
                        <input
                          type="radio"
                          name="hasEPSAffiliation"
                          id="EPS-yes"
                          [value]="true"
                          formControlName="hasEPSAffiliation"
                        />
                        <label for="EPS-yes">Si</label>
                      </div>
                      <div class="form-input-radio-container">
                        <input
                          type="radio"
                          name="hasEPSAffiliation"
                          id="EPS-no"
                          [value]="false"
                          formControlName="hasEPSAffiliation"
                        />
                        <label for="EPS-no">No</label>
                      </div>
                    </div>
                  </div>
                  @if (patientHasEPSAffiliation) {
                    <div class="form-input">
                      <label for="eps">EPS</label>
                      <select name="eps">
                        <option>Sanitas</option>
                        <option>Salud total</option>
                        <option>EMI</option>
                        <option>Sura</option>
                        <option>Compensar</option>
                      </select>
                    </div>
                  }
                </div>
              </div>
              <div class="form-section">
                <legend>😷 Patologías</legend>
                <div class="form-container-fields">
                  <div class="form-input">
                    <label>¿Sufre de alguna patología?</label>
                    <div class="yes-no-section">
                      <div class="form-input-radio-container">
                        <input
                          type="radio"
                          name="hasPathologies"
                          id="pathology-yes"
                          [value]="true"
                          formControlName="hasPathologies"
                        />
                        <label for="pathology-yes">Si</label>
                      </div>
                      <div class="form-input-radio-container">
                        <input
                          type="radio"
                          name="hasPathologies"
                          id="pathology-no"
                          [value]="false"
                          formControlName="hasPathologies"
                        />
                        <label for="pathology-no">No</label>
                      </div>
                    </div>
                  </div>
                  @if (patientHasMedicalConditions) {
                    <div class="add-section">
                      <div class="form-input">
                        <label for="pathologyName">Nombre de la patología</label>
                        <input
                          type="text"
                          #pathologyName
                          name="pathologyName"
                          formControlName="pathologyName"
                        />
                      </div>
                      <app-btn-rounded
                        class="add-section--button"
                        [buttonSize]="'small'"
                        label="+"
                        (onClicked)="addMedicalCondition(pathologyName.value)"
                      ></app-btn-rounded>
                    </div>
                    @if (patientMedicalConditions.length > 0) {
                      <app-styled-list
                        class="add-section--list"
                        [items]="patientMedicalConditions"
                        (onRemoveitem)="removeMedicalCondition($event)"
                      ></app-styled-list>
                    }
                  }
                </div>
              </div>
              <div class="form-section">
                <legend>💊 Medicamentos actuales</legend>
                <div class="form-container-fields">
                  <div class="form-input">
                    <label>¿Usa algún medicamento?</label>
                    <div class="yes-no-section">
                      <div class="form-input-radio-container">
                        <input
                          type="radio"
                          name="hasCurrentMedications"
                          id="medication-yes"
                          [value]="true"
                          formControlName="hasCurrentMedications"
                        />
                        <label for="medication-yes">Si</label>
                      </div>
                      <div class="form-input-radio-container">
                        <input
                          type="radio"
                          name="hasCurrentMedications"
                          id="medication-no"
                          [value]="false"
                          formControlName="hasCurrentMedications"
                        />
                        <label for="medication-no">No</label>
                      </div>
                    </div>
                  </div>
                  @if (patientHasCurrentMedications) {
                    <div class="add-section">
                      <div class="form-input">
                        <label for="medicationName">Nombre del medicamento</label>
                        <input
                          #medicationName
                          type="text"
                          name="medicationName"
                          formControlName="medicationName"
                        />
                      </div>
                      <app-btn-rounded
                        class="add-section--button"
                        [buttonSize]="'small'"
                        label="+"
                        (onClicked)="addCurrentMedication(medicationName.value)"
                      ></app-btn-rounded>
                    </div>
                    @if (patientCurrentMedications.length > 0) {
                      <app-styled-list
                        class="add-section--list"
                        [items]="patientCurrentMedications"
                        (onRemoveitem)="removeMedication($event)"
                      ></app-styled-list>
                    }
                  }
                </div>
              </div>

              <div class="form-section">
                <legend>💉 Alergias</legend>
                <div class="form-container-fields">
                  <div class="form-input">
                    <label>¿Tiene alergias?</label>
                    <div class="yes-no-section">
                      <div class="form-input-radio-container">
                        <input
                          type="radio"
                          name="hasAllergies"
                          id="allergies-yes"
                          [value]="true"
                          formControlName="hasAllergies"
                        />
                        <label for="allergies-yes">Si</label>
                      </div>
                      <div class="form-input-radio-container">
                        <input
                          type="radio"
                          name="hasAllergies"
                          id="allergies-no"
                          [value]="false"
                          formControlName="hasAllergies"
                        />
                        <label for="allergies-no">No</label>
                      </div>
                    </div>
                  </div>
                  @if (patientHasAllergies) {
                    <div class="add-section">
                      <div class="form-input">
                        <label for="allergyName">Nombre de la alergia</label>
                        <input type="text" name="allergyName" />
                      </div>
                      <app-btn-rounded
                        class="add-section--button"
                        [buttonSize]="'small'"
                        label="+"
                      ></app-btn-rounded>
                    </div>
                  }
                </div>
              </div>
            </div>
          </app-card>
        </div>
        <div class="patient-emergency-contact">
          <app-card>
            <div class="patient-emergency-contact--card">
              <h3>👪 Contactos de emergencia</h3>
              <div class="form-section">
                <legend>Informacion de los contactos</legend>
                <div class="form-container-fields">
                  <div class="form-input">
                    <label for="contactName">Nombre</label>
                    <input type="text" name="contactName" />
                  </div>
                  <div class="form-input">
                    <label for="contactType">Parentesco</label>
                    <input type="text" name="contactType" />
                  </div>
                  <div class="form-input">
                    <label for="contactPhone">Celular</label>
                    <input type="text" name="contactPhone" />
                  </div>
                  <div class="form-input">
                    <label for="contactEmail">Email</label>
                    <input type="text" name="contactEmail" />
                  </div>
                </div>
                <div class="form-container-fields">
                  <div class="form-input">
                    <label for="contactName">Nombre</label>
                    <input type="text" name="contactName" />
                  </div>
                  <div class="form-input">
                    <label for="contactType">Parentesco</label>
                    <input type="text" name="contactType" />
                  </div>
                  <div class="form-input">
                    <label for="contactPhone">Celular</label>
                    <input type="text" name="contactPhone" />
                  </div>
                  <div class="form-input">
                    <label for="contactEmail">Email</label>
                    <input type="text" name="contactEmail" />
                  </div>
                </div>
              </div>
            </div>
          </app-card>
        </div>
      </div>
      <div class="patient-form--section-container patient-form--right-container">
        <div class="patient-consultion-reason">
          <app-card>
            <div class="patient-consultion-reason--card">
              <h3>🩺 Motivo de consulta</h3>
              <div class="form-section">
                <div class="form-input">
                  <label for="consultationReason"></label>
                  <select name="consultationReason" id="">
                    <option value="">Consulta por primera vez</option>
                    <option value="">Remision</option>
                  </select>
                </div>
              </div>
            </div>
          </app-card>
        </div>

        <div class="patient-documents-checklist">
          <app-card>
            <div class="patient-documents-checklist--card">
              <h3>📚 Documentacion</h3>
              <div class="form-section">
                <div class="form-input-check-container">
                  <input type="checkbox" name="isAggrementSigned" id="" />
                  <label for="isAggrementSigned">
                    <a>Consentimiento informado?</a>
                  </label>
                </div>
              </div>
            </div>
          </app-card>
        </div>

        <div class="patient-habits-and-life-style">
          <app-card>
            <div class="patient-habits-and-life-style--card">
              <h3>🧠 Habitos y estilo de vida</h3>
              <div class="habit-questions">
                <div class="form-section">
                  <label>🍷 Consume Alcohol?</label>
                  <div class="form-input-radio-container">
                    <input type="radio" name="drinkAlcohol" id="alcohol-no" value="never" />
                    <label for="alcohol-no">No consume alcohol</label>
                  </div>
                  <div class="form-input-radio-container">
                    <input
                      type="radio"
                      name="drinkAlcohol"
                      id="alcohol-somethimes"
                      value="sometimes"
                    />
                    <label for="alcohol-somethimes">Consumo ocasional</label>
                  </div>

                  <div class="form-input-radio-container">
                    <input type="radio" name="drinkAlcohol" id="alcohol-always" value="always" />
                    <label for="alcohol-always">Consumo frecuente</label>
                  </div>
                </div>

                <div class="form-section">
                  <label>🍁Consume sustancias psicoactivas?</label>
                  <div class="form-input-radio-container">
                    <input type="radio" name="useDrugs" id="drugs-no" value="never" />
                    <label for="drugs-no">No consume sutancias</label>
                  </div>
                  <div class="form-input-radio-container">
                    <input type="radio" name="useDrugs" id="drugs-somethimes" value="sometimes" />
                    <label for="drugs-somethimes">Consumo ocasional</label>
                  </div>

                  <div class="form-input-radio-container">
                    <input type="radio" name="useDrugs" id="drugs-always" value="always" />
                    <label for="drugs-always">Consumo frecuente</label>
                  </div>
                </div>
              </div>
            </div>
          </app-card>
        </div>
      </div>
    </div>
  </div>
</form>
