@use '../../../../styles.scss' as globalStyles;

.patient-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  position: relative;
  left: 0;
  padding: globalStyles.$padding-for-module-content;

  .patient-form-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:
      'basic-information basic-information basic-information  basic-information  basic-information documents documents'
      'basic-information basic-information basic-information  basic-information  basic-information documents documents'
      'basic-information basic-information basic-information  basic-information  basic-information documents documents'
      'basic-information basic-information basic-information  basic-information  basic-information documents documents'
      'emergency-contact emergency-contact emergency-contact emergency-contact emergency-contact others others'
      'emergency-contact emergency-contact emergency-contact emergency-contact emergency-contact others others';

    column-gap: 40px;
    row-gap: 20px;

    .patient-basic-information {
      grid-area: basic-information;

      .patient-basic-information--card {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 16px;
      }

      .patient-basic-information--profile-pic {
        width: 200px;
        height: 200px;
      }

      .form-section {
        margin-top: 16px;

        legend {
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 16px;
        }

        &.form-container-image {
          display: flex;
          justify-content: center;
        }

        .patient-form-basic-info {
          display: grid;
        }

        .yes-no-section {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }

        .form-container-fields {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          width: 100%;
          column-gap: 8px;
        }
      }
    }

    .patient-emergency-contact {
      grid-area: emergency-contact;

      .patient-emergency-contact--card {
      }
    }

    .patient-documents-checklist {
      grid-area: documents;
    }
  }
}
