/* You can add global styles to this file, and also import other style files */
$sidebar-bg: #f5f7f6;
$primary-color: #3c9197;
$hover-bg: #e9efee;
$text-color: #5c6b73;
$active-bg: #000;
$active-text: #fff;
$notification-color: #4adcbe;
$input-focus-color: #7aa2a1;
$input-height-default: 36px;
$input-border-radius: 8px;
$input-padding: 8px;
$button-hover-color: #1e4d4f;
$padding-for-module-content: 40px 80px;

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.form-section {
  margin-top: 16px;

  legend {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  .form-container-fields {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    column-gap: 8px;
  }

  .yes-no-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.form-input {
  display: flex;
  flex-direction: column;
  color: $text-color;
  padding: 4px 0;

  label {
    color: $text-color;
    margin-bottom: 4px;
  }

  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='password'],
  input[type='date'] {
    width: 100%;
    height: $input-height-default;
    border-radius: $input-border-radius;
    border: solid 1px #ccc;
    box-sizing: border-box;
    color: $text-color;

    &:focus {
      outline: solid 1px $input-focus-color;
      border: solid 1px $input-focus-color;

      &::placeholder {
        color: $input-focus-color;
      }
    }
  }

  input[type='radio'] {
    width: 20px;
    height: 20px;
  }

  select {
    width: 100%;
    height: $input-height-default;
    border-radius: $input-border-radius;
    border: solid 1px #ccc;
    box-sizing: border-box;
    color: $text-color;

    &:focus {
      outline: solid 1px $input-focus-color;
      border: solid 1px $input-focus-color;
    }
  }

  .form-input-radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    label {
      cursor: pointer;
      margin-top: 4px;
    }
  }

  .form-input-check-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    label {
      cursor: pointer;
      margin-top: 4px;
    }
  }

  .form-label-option {
    cursor: pointer;
  }
}
